body{
    background: #c6e4ff;
}

h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.preview{
    position: relative;
    border: 10px solid white;
    box-shadow: 0px 0px 7px 3px grey;
    height: 600px;
    width: 1000px;

}

.preview img{
    height: 600px;
    width: 1000px;
}

.description{
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    position: absolute;
    font-family: 'Roboto Slab', serif;
    width: 1000px;
    bottom: 0px;
}

h2, p {
    margin: 10px 20px;
}

.container{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail{
    width: 1000px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.thumbnail img{
    height: 100px;
    margin: 20px;
    border: 5px solid white;
    box-shadow: 0px 0px 7px 3px grey;
}

.thumbnail img:hover{
    height: 150px;
}